$niffler-black-primary: mat-palette($mat-grey, 700, 300, 900);
$niffler-black-accent: mat-palette($mat-blue-grey, 400);
$niffler-black-warn: mat-palette($mat-red, 500);

$niffler-black-theme: mat-dark-theme(
  $niffler-black-primary,
  $niffler-black-accent,
  $niffler-black-warn
);
