$niffler-primary: mat-palette($mat-indigo, 800, 300, 900);
$niffler-accent: mat-palette($mat-light-blue);
$niffler-warn: mat-palette($mat-pink, 600);

$niffler-theme: mat-light-theme(
  $niffler-primary,
  $niffler-accent,
  $niffler-warn
);
