$niffler-light-primary: mat-palette($mat-grey, 200, 500, 300);
$niffler-light-accent: mat-palette($mat-brown, 200);
$niffler-light-warn: mat-palette($mat-deep-orange, 200);

$niffler-light-theme: mat-light-theme(
  $niffler-light-primary,
  $niffler-light-accent,
  $niffler-light-warn
);
