$niffler-nature-primary: mat-palette($mat-brown, 700, 300, 900);
$niffler-nature-accent: mat-palette($mat-deep-purple, 300);
$niffler-nature-warn: mat-palette($mat-red, 600);

$niffler-nature-theme: mat-light-theme(
  $niffler-nature-primary,
  $niffler-nature-accent,
  $niffler-nature-warn
);
